# Variables for Spring Boot
PROJECT_NAME=Spring
JAVA_VERSION=17
API_PORT=4300

# Variables for MySQL connection
MYSQL_DATABASE=database
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

# Variables for PostGreSQL connection
POSTGRES_DB=database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
