PROJECT_NAME=symfony
WEBSERVER_PORT=4600

PHP_VERSION=8.1.0

MYSQL_VERSION=8
MYSQL_DATABASE=database
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

POSTGRES_VERSION=14
POSTGRES_DB=database
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
