PROJECT_NAME=laravel
WEBSERVER_PORT=4200
PHP_VERSION=8.1.0
FPM_PORT=9000
NODE_VERSION=16-alpine
MYSQL_VERSION=8
MYSQL_DATABASE=database
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
